// Elementor Overrides
.elementor-widget-toggle {
    .elementor-toggle-item {
        padding: 24px 24px 24px 0;
        border-bottom: 1px solid $light-gray;

        .elementor-toggle-title {
            @extend .h4;
            color: $text2;
            text-decoration: none;
            margin-left: 30px;
        }

        .elementor-tab-title,
        .elementor-tab-content {
            border: none;
        }

        .elementor-tab-title {
            display: flex;
            align-items: center;
            padding: 0;

            .elementor-toggle-title {
                font-family: $font1;
                transition: all 0.3s $ease;
            }

            .elementor-toggle-icon {
                margin-bottom: 3px;
            }
        }

        .elementor-tab-content {
            @extend p;
            padding-left: 45px;
            padding-bottom: 0;
            font-family: $font1;
        }

        .text-white &,
        .bg--dark-blue & {
            .elementor-toggle-title {
                color: #fff;
            }
        }
    }

    .text-white &,
    .bg--dark-blue & {
        .elementor-tab-content {
            color: #fff;
        }
    }
}

.text-white,
.bg--dark-blue {
    .elementor-widget-toggle {
        .elementor-toggle-item {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }
    }
}

.elementor-accordion {
    border: none;

    .elementor-accordion-item {
        padding: 24px 24px 24px 0;
        border: none !important;
        border-bottom: 1px solid $light-gray !important;

        .elementor-accordion-title {
            @extend .h4;
            font-family: $font1;
            color: $text2;
            letter-spacing: 0.5px;
            text-decoration: none;
            margin-left: 30px;
        }

        .elementor-tab-title,
        .elementor-tab-content {
            border: none;
        }

        .elementor-tab-title {
            padding: 0;
            display: flex;
            align-items: center;
            .elementor-accordion-icon {
                margin-bottom: 3px;
            }

            .elementor-accordion-title {
                margin-left: 24px;
            }
        }

        .elementor-tab-content {
            @extend p;
            padding-left: 48px;
            padding-bottom: 0;
        }

        .text-white &,
        .bg--dark-blue & {
            .elementor-accordion-title {
                color: #fff;
            }
        }
    }

    .text-white &,
    .bg--dark-blue & {
        .elementor-tab-content {
            color: #fff;
        }
    }
}

.text-white,
.bg--dark-blue {
    .elementor-accordion {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
    }
}
