.alert {
    border-radius: 5px;
    padding: 15px 20px;
    border: 1px solid black;
    border-left-width: 6px;

    &--primary {
        background: #c5eaff;
        color: #096498;
        border-color: #aecee0;
    }

    &--warning {
        background: #fffed6;
        color: #ada912;
        border-color: #efedc4;
    }
}
