// Global button styles
button,
.btn,
input[type='button'],
input[type='submit'],
input[type='reset'] {
    cursor: pointer;
    display: inline-block;
    color: white;
    font-family: $font2;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 18px 25px;
    background-color: $primary-highlight;
    transition: all $duration $ease;
    line-height: pxtorem(15px);
    @include font-size(12px);

    + .btn {
        margin-left: 8px;
    }

    &:hover,
    &:focus {
        color: white;
        border: none;
        background-color: $dark-primary-highlight;
    }

    // Modifiers
    &.btn--secondary1 {
        background-color: $secondary1;

        &:hover,
        &:focus {
            background-color: $dark-secondary1;
        }
    }

    &.btn--secondary2 {
        background-color: $secondary2;

        &:hover,
        &:focus {
            background-color: $dark-secondary2;
        }
    }

    &.btn--secondary3 {
        background-color: $secondary3;

        &:hover,
        &:focus {
            background-color: $dark-secondary3;
        }
    }

    &.btn--secondary4 {
        background-color: $secondary4;

        &:hover,
        &:focus {
            background-color: $dark-secondary4;
        }
    }

    &.btn--white {
        background-color: $white;
        color: $text2;

        &:hover,
        &:focus {
            background-color: $dark-white;
        }
    }

    // With icons
    &.btn--chevron {
        position: relative;

        &::after {
            content: '\e900';
            margin-left: 8px;
            font-size: 75%;
            font-family: 'vc-starter-theme';
        }
    }

    &.btn--download {
        position: relative;

        &::after {
            content: '\e901';
            margin-left: 8px;
            font-size: 75%;
            font-family: 'vc-starter-theme';
        }
    }

    &.btn--external {
        position: relative;

        &::after {
            content: '\e904';
            margin-left: 8px;
            font-size: 75%;
            font-family: 'vc-starter-theme';
        }
    }
}

.btn {
    svg {
        display: inline-block;
        margin-right: 6px;
    }

    &--white {
        background-color: $white;
        color: $text2;

        &:hover,
        &:focus {
            background-color: $dark-white;
        }
    }

    &--naked {
        background: transparent;

        &:hover,
        &:focus {
            background: transparent;
            opacity: 0.7;
        }
    }
}
