.entry-meta {
    > * {
        display: inline-block;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    @include bp-sm {
        flex-direction: row;

        > * {
            margin-right: 32px;
        }
    }

    .authors {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 8px;
            width: 40px;
            height: 40px;
            border-radius: 100px;
        }

        a {
            text-decoration: none;
            color: #fff;
            transition: all 1.2s ease-in-out;

            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
    
    .single-post__share {
        color: #fff;
        padding: 0;

        &:hover,
        &:focus {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}
