// Forms
label {
    display: block;
    color: $text2;
    font-family: $font2;
    margin-bottom: 5px;
    line-height: pxtorem(19px);
    @include font-size(16px);
}

input,
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4px;
    border: 1px solid $medium-gray;
    padding: 15px;
    line-height: pxtorem(19px);
    @include font-size(16px);
    background-color: #fff;

    &:hover {
        border-color: $dark-gray;
    }

    &:focus {
        border-color: $primary-highlight;
        outline: none;
        box-shadow: none;
    }

    &::placeholder {
        color: $primary-base;
    }
}

input[type='checkbox'],
input[type='radio'] {
    width: initial;
    accent-color: $primary-highlight;
    + label {
        display: inline-block;
    }
    &:focus {
        outline: 1px solid $primary-highlight;
    }
}
select::-ms-expand {
    display: none; // Hides the default dropdown arrow in IE11
}
select {
    appearance: none; // Hides the default dropdown arrow
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; // Hides select background in Chrome
    padding: 15px 30px 15px 15px; // So text doesn't overlap background image
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2016%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.8114%202.72953L8.44665%2010.0844C8.32093%2010.2101%208.17204%2010.273%208%2010.273C7.82796%2010.273%207.67907%2010.2101%207.55335%2010.0844L0.188586%202.72953C0.0628612%202.6038%200%202.45327%200%202.27792C0%202.10256%200.0628612%201.95203%200.188586%201.8263L1.83623%200.188586C1.96195%200.0628612%202.11083%200%202.28288%200C2.45492%200%202.6038%200.0628612%202.72953%200.188586L8%205.45906L13.2705%200.188586C13.3962%200.0628612%2013.5451%200%2013.7171%200C13.8892%200%2014.038%200.0628612%2014.1638%200.188586L15.8114%201.8263C15.9371%201.95203%2016%202.10256%2016%202.27792C16%202.45327%2015.9371%202.6038%2015.8114%202.72953Z%22%20fill%3D%22%2303061B%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 5px;

    option {
        margin-bottom: 8px;
    }
}
input[type='submit'],
input[type='button'],
input[type='reset'] {
    cursor: pointer;
    width: auto;
}

// Filters
.visc-query-filter {
    &--inline {
        .visc-query-filter__form {
            display: flex;
        }
    }

    label {
        margin-right: 8px;
    }

    button {
        margin-bottom: 5px;
    }
}

// Search
.site-search-form {
    position: relative;

    input {
        padding-right: 55px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        background: transparent;
        z-index: 1;
    }
}
