.list-item-job {
    margin-bottom: 48px;
    &:last-child {
        margin-bottom: 48px;
    }

    &__title {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 16px;
        }

        a {
            color: $primary-base;

            &:hover,
            &:focus {
                color: $primary-highlight;
            }
        }
    }

    &__secondary {
        @include bp-md {
            display: flex;
            justify-content: flex-start;
        }

        > * {
            margin-right: 32px;
            margin-bottom: 8px;

            @include bp-md {
                margin-bottom: 0;
            }
        }
    }
}

.post-content {
    .list-item-job a {
        text-decoration: none;
    }
}
