.list-item-search {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $medium-gray;

    &__label {
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    &__title {
        a {
            color: $text2;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $primary-highlight;
                text-decoration: none;
            }
        }
    }
}
