.list-item-person {
    padding-bottom: 24px;

    &__image {
        display: block;
        margin-left: 30px;
        margin-right: 30px;

        @include bp-sm {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__main {
        padding: 16px 24px;
    }

    &__title {
        @extend .h6;
        margin-bottom: 8px;

        a {
            color: $primary-base;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $primary-highlight;
            }
        }
    }

    &__job-title {
        margin-bottom: 10px;
    }

    &__organization {
        margin-bottom: 8px;
    }
}

.post-content {
    .list-item-person__title a {
        text-decoration: none;
    }
}
