.list-item {
    flex-grow: 1;
    display: flex;
    margin-bottom: 32px;
    transition: all 0.3s;
    border-bottom: 1px solid $medium-gray;
    text-align: left;
    text-decoration: none;

    @include bp-lg {
        margin-bottom: 80px;
    }

    &:last-child {
        margin-bottom: 32px; // override page builder CSS
    }

    .row {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    &-column {
        display: flex;
        flex-direction: column;
    }

    &__main {
        flex-grow: 1;
        position: relative;
    }

    &__title {
        @extend .h3;
        padding-bottom: 16px;

        a {
            color: $primary-base;
        }
    }

    &__date {
        position: absolute;
        left: 0;
        bottom: 0;
        color: $dark-gray;
        @include font-size(11px);
        line-height: pxtorem(13.5px);
    }

    &__icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__image {
        display: block;
        position: relative;
        overflow: hidden;
    }

    &__types {
        margin-right: 15px;
        margin-bottom: 5px;
    }

    &:hover,
    &:focus {
        .list-item {
            &__title {
                a {
                    color: $primary-highlight;
                }
            }
        }
    }

    // Modifiers

    // Card layout
    &--card {
        border: none;
        display: flex;

        @include bp-sm {
            min-height: 400px;
        }

        &.list-item--featured-image {
            display: flex;
        }

        > a {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            &:hover,
            &:focus {
                .list-item__title {
                    color: $primary-highlight;
                }
            }
        }

        .list-item {
            &__main {
                position: relative;
                background: $light-gray;
                padding: 24px;
            }

            &__title {
                @extend .h3;
                transition: all 0.3s $ease;
            }

            &__date {
                left: 24px;
                bottom: 24px;
            }

            &__icon {
                right: 24px;
                bottom: 24px;
            }
        }

        &.list-item--featured-image {
            .list-item__title {
                @extend .h6;
            }
        }

        .related-content & {
            .list-item__main {
                background-color: #fff;
            }
        }
    }

    // with a featured image
    &--featured-image {
        display: block;

        .list-item {
            &__title {
                @extend .h3;
            }
        }
    }
}

.post-content {
    .list-item a {
        text-decoration: none;
    }
}
