.main-menu {
    padding: 0;
    margin: 0;

    &__item {
        list-style-type: none;
        display: inline-block;
        padding: 31px 0;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 0;

        &:hover,
        &.sub-menu-open {
            .main-menu__sub-menu {
                display: block;
            }
        }

        &:hover {
            .main-menu__link {
                opacity: 1;
            }

            .main-menu__sub-menu-toggle {
                opacity: 1;
            }
        }

        &--active,
        &--parent--active {
            .main-menu__link {
                opacity: 1;
            }
        }
    }

    &__link {
        color: #fff;
        font-weight: 600;
        @include font-size(14px);
        line-height: pxtorem(17px);
        opacity: 0.5;
        text-decoration: none;
    }

    &__sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        padding: 16px 24px;
        list-style-type: none;
        z-index: 5;
        background: #fff;
        min-width: 166px;

        &__item {
            padding: 8px 0;
        }

        &__link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $text2;
            @include font-size(13px);
            line-height: pxtorem(15.5px);
            opacity: 0.5;
            text-decoration: none;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }

        .main-menu__item--active {
            .main-menu__sub-menu__link {
                opacity: 1;
            }
        }

        &-toggle {
            background: transparent;
            padding: 0;
            margin-left: 8px;
            opacity: 0.5;

            &:hover,
            &:focus {
                background: transparent;
            }
        }
    }
}
