.visc-stat,
.visceral-ticker {
    font-size: fluid-value(70px, 96px);
    line-height: fluid-value(80px, 105px);
    font-weight: 600;
    color: $text2;

    .text-white & {
        color: white;
    }
}

.vc-number-counter {
    text-align: left;

    .text-center & {
        text-align: center;
    }
}
