.pagination {
    position: relative;
    @include font-size(12px);
    line-height: pxtorem(14.5px);
    font-weight: 700;
    color: $text2;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .page-numbers {
        display: inline-block;
        padding: 9px;
        width: 32px;
        height: 32px;
        color: $text2;

        &.current {
            background: $medium-gray;
        }

        &.next,
        &.prev {
            padding: 0;
            position: absolute;
            top: 0;
        }

        &.next {
            right: 0;
        }

        &.prev {
            left: 0;
        }
    }
}

.post-content {
    .pagination a {
        text-decoration: none;
    }
}
