.post-label {
    @include font-size(11px);
    line-height: pxtorem(13.5px);
    display: inline-block;
    font-weight: 700;
    margin-bottom: 16px;
    color: $dark-gray;
    
    * {
        @include font-size(11px);
        line-height: pxtorem(13.5px);
        color: $dark-gray;
        font-weight: 700;
        margin-bottom: 0;
    }
}
