// Page builder hover promo overrides
.vc-promo-box {
    &__background {
        &::before {
            @extend .pseudo;
            background-color: rgba($primary-base, 0.5);
            transition: background-color 333ms ease;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    &__header {
        flex: 0 0 100%;
    }

    &__text {
        flex: 0 0 100%;

        @include bp-md {
            opacity: 0;
            margin-top: -20px;
            transform: translateY(100%);
            transition: opacity 333ms $ease, transform 333ms $ease,
                margin-top 333ms $ease;
        }
    }

    &__icon {
        width: auto;
        max-width: 80px;
        max-height: 100px;
        height: auto;
        opacity: 1;
        margin-bottom: 32px;
        transition: max-height 333ms $ease, margin-bottom 333ms $ease,
            opacity 333ms $ease;
    }

    @include bp-md {
        &:hover,
        &:focus {
            .vc-promo-box {
                &__background {
                    &::before {
                        background-color: rgba($primary-base, 0.75);
                    }
                }

                &__text {
                    opacity: 1;
                    margin-top: 0;
                    transform: translateY(0);
                }

                &__icon {
                    opacity: 0;
                    max-height: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    &:active {
        .vc-promo-box__background::before {
            background-color: rgba($primary-base, 0.75);
        }
    }

    // Variation - no background image set
    &--bg-color {
        .vc-promo-box {
            &__background {
                display: none;
            }
        }
    }
}

.visc-call-to-action {
    padding-top: 54px;
    padding-bottom: 54px;

    .gform_footer {
        display: none;
    }
}
