/**
* Search & 404
*/
.site-search {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $primary-highlight;
    z-index: 51;
    padding-top: 25vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s $ease;

    &--active {
        opacity: 1;
        visibility: visible;

        .site-search__inner {
            transform: translateY(0);
            transition: all 0.3s $ease 0.3s;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s $ease;
        transform: translateY(20px);
    }

    &__form {
        flex-grow: 1;
    }

    input[type='text'] {
        color: white;
        background: transparent;
        border: none;
        font-size: fluid-value(46px, 61px);
        line-height: fluid-value(56px, 74px);
        font-weight: 700;
        &::placeholder {
            color: #fff;
            opacity: 1; /* Firefox */
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff;
        }
        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #fff;
        }
    }

    &__close {
        background: transparent;
        padding: 0;

        &:hover,
        &:focus {
            background: transparent;
        }
    }
}

.search-results-top {
    align-items: center;
    margin-bottom: 30px;

    .search-results-input,
    .search-results-filter,
    .search-results-submit {
        margin-bottom: 16px;
    }

    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.no-js {
    .search-results-top {
        form {
            flex-direction: row;
        }
    }
}

.search-result {
    border-top: 1px solid $medium-gray;
    padding-top: 30px;

    [class^='col-'] {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .wp-post-image {
        margin-bottom: 35px;
    }
}
