// Slider wrappers
.slick-list {
    // overrides centerMode padding to display slides on either side
    padding-left: 6vw !important;
    padding-right: 6vw !important;

    @include bp-xs {
        padding-left: 12vw !important;
        padding-right: 12vw !important;
    }
}

// Single slide
.slick-slide {
    padding-left: 8px;
    padding-right: 8px;

    @include bp-lg {
        padding-left: 16px;
        padding-right: 16px;
    }
}

// Dot navigation
.slick-dots {
    margin: 0;
    padding: 0;
    display: flex !important; // override injected inline style
    align-items: center;
    justify-content: center;
    list-style-type: none;

    li {
        margin: 0 8px;

        button {
            padding: 0;
            font-size: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transition: background-color 444ms $ease;
            background-color: rgba( $primary-highlight, 0.5 );

            &:hover, &:focus {
                background-color: $primary-highlight;
            }
        }

        &.slick-active {
            button {
                background-color: $primary-highlight;
            }
        }
    }
}

// Arrows
.slick-arrow {
    z-index: 10;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    background-color: rgba( $primary-highlight, 0.5 );
    transition-duration: 444ms;

    &:hover, &:focus {
        background-color: $primary-highlight;
    }
}

.slick-prev {
    left: 4vw;
}

.slick-next {
    right: 4vw;
}