.visc-social-share {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($primary-base, 0.9);
    z-index: 51;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s $ease;

    &--active {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    h3 {
        margin-bottom: 24px;
    }

    &__item {
        margin-left: 4px;
        margin-right: 4px;

        a {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: #bb001b;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--facebook {
            a {
                background-color: $facebook;
            }
        }

        &--twitter {
            a {
                background-color: $twitter;
            }
        }

        &--linkedin {
            a {
                background-color: $linkedin;
            }
        }
    }
}

.visc-social-share-btn {
    &:hover,
    &:focus {
        cursor: pointer;
    }
}
