/**
* Mobile Menu
*/
#nav-toggle {
    display: none;
}
body.mobile-nav-active {
    overflow: hidden; // prevent scrolling while menu is open
}
.mobile-nav-icon {
    width: 24px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 30px;
    z-index: 50;
    margin-bottom: 0;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    background: none;

    @include bp-md {
        display: none;
    }

    &__line {
        height: 2px;
        width: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        transition: all 0.3s ease;
        transform-origin: center;

        &:first-child {
            top: 0;
        }

        &:last-child {
            top: auto;
            bottom: 0;
        }

        .site-header--dark-text & {
            background: $black;
        }
    }

    &:hover {
        cursor: pointer;

        .mobile-icon__line {
            width: 100%;
        }
    }

    &:focus {
        outline: none;
    }

    &--active {
        .mobile-nav-icon__line {
            width: 100%;
            opacity: 0;

            &:first-child {
                transform: rotate(-45deg);
                top: 50%;
                opacity: 1;
            }

            &:last-child {
                transform: rotate(45deg);
                top: 50%;
                opacity: 1;
            }
        }
    }

    .site-header--scroll-triggered & {
        .mobile-nav-icon__line {
            background: $primary-base;
        }
    }
}

.mobile-nav-container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: -999999px;
    height: 0; // Important so it doesn't overlap page elements
    width: 100%;
    z-index: -1;
    opacity: 0;
    color: #fff;
    background: $primary-base;
    // For the fade animation to work properly without a slide we need the following.
    // - z-index, height, top, and opacity prevents visual and functional effects.
    // - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
    // - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
    transition: z-index 0s linear 0.3s, top 0s linear 0.3s,
        opacity 0.3s linear 0s, height 0s linear 0.3s;
    backface-visibility: hidden; // Prevents bugs in opacity.transitions
    transform: translate3d(0, 0, 0); // Adds hardware acceleration
    -webkit-backface-visibility: hidden; // Helps prevent animation flickers
    -webkit-perspective: 1000; // Helps prevent animation flickers

    > ul {
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0.15s;
        backface-visibility: hidden; // Prevents bugs in opacity.transitions
        -webkit-backface-visibility: hidden; // Helps prevent animation flickers
        -webkit-perspective: 1000; // Helps prevent animation flickers
    }

    a {
        color: white;
        display: block;
        padding: 12px 0;
        line-height: pxtorem(24px);
        @include font-size(20px);

        @include bp-lg {
            @include font-size(30px);
            line-height: pxtorem(32px);
        }
    }

    &--active {
        // For the fade animation to work properly without a slide we need the following.
        // - z-index, height, top, and opacity prevents visual and functional effects.
        // - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
        // - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
        z-index: 49;
        top: 0;
        opacity: 1;
        height: 100vh;
        transition: z-index 0s linear 0s, top 0s linear 0s,
            opacity 0.3s linear 0s, height 0s linear 0s;

        > ul {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0s;
        }
    }
}

.mobile-nav-inner {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

// The menu <ul>
.mobile-menu {
    width: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;

    // <li>
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    // <a>
    &__link {
        font-weight: 600;
        text-decoration: none;
    }

    // Sub-menu toggle icon
    &__sub-menu-icon {
        width: 16px;
        height: 16px;
        margin-left: 16px;
        display: block;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 2px;
            background-color: white;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            content: '';
            position: absolute;
            height: 16px;
            width: 2px;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity 222ms $ease;

            .mobile-menu__item--opened & {
                opacity: 0;
            }
        }
    }

    // Sub-menu
    &__sub-menu {
        max-height: 0;
        opacity: 0;
        z-index: -1;
        padding-left: 8px;
        flex: 0 0 100%;
        transition: opacity 0.25s $ease, max-height 0.25s $ease;

        a {
            text-decoration: none;
            line-height: pxtorem(21px);
            @include font-size(16px);
        }

        .no-js & {
            max-height: none;
        }

        .mobile-menu__item--opened & {
            opacity: 1;
            z-index: 1;
            max-height: 1000px;
            transition: opacity 333ms $ease, max-height 333ms $ease;
        }

        &__item {
            &::marker {
                display: none;
            }
        }
    }

    // Alternate styling
    &--alt {
        .mobile-menu {
            &__item {
                justify-content: center;
            }

            &__sub-menu {
                text-align: center;
            }

            &__link,
            &__sub-menu__link {
                line-height: pxtorem(48px);
                @include font-size(39px);
            }
        }
    }
}

// Mobile search
.mobile-nav__search-form {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5vh;

    label {
        flex-grow: 1;
        margin: 0;
    }

    input[type='text'] {
        margin: 0;
        padding: 14px;
        border: none;
    }

    button[type='submit'] {
        border: none;
        color: $primary-highlight;
        background-color: transparent;
        @include font-size(16px);
    }
}
