/** 
 * Reference colors
 * Pull values from the design's styleguide
**/
$black: #03061b;
$blue: #062db3;
$medium-blue: #4a78ff;
$dark-medium-blue: darken($medium-blue, 20%);
$light-blue: #61dbff;
$dark-light-blue: darken($light-blue, 20%);
$green: #35c7a1;
$dark-green: darken($green, 20%);
$yellow: #d0cb52;
$dark-yellow: darken($yellow, 20%);
$white: #ffffff;
$dark-white: darken($white, 20%);

$dark-gray: #81828d;
$medium-gray: #c0c1c6;
$light-gray: #f2f2f4;
$dark-grey: $dark-gray;
$medium-grey: $medium-gray;
$light-grey: $light-gray;

/** 
* Variables
* Set to the values above. Use these variable names throughout the build.
**/
// Primary
$primary-base: $black;
$primary-highlight: $blue;
$dark-primary-highlight: darken($blue, 20%);

// Secondary
$secondary1: $medium-blue;
$dark-secondary1: $dark-medium-blue;
$secondary2: $light-blue;
$dark-secondary2: $dark-light-blue;
$secondary3: $green;
$dark-secondary3: $dark-green;
$secondary4: $yellow;
$dark-secondary4: $dark-yellow;

/** 
 * Additional color settings
**/

// Gradients
$gradient1: linear-gradient(180deg, #000000 0%, #858585 100%);
$gradient2: linear-gradient(180deg, #858585 0%, #ebebeb 100%);

// Text
$text1: $dark-gray;
$text2: $primary-base;

// Social
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$youtube: #cd201f;
$googleplus: #dd4b39;
