// Global animation variables
$ease: ease-in-out;
$duration: 1.2s;

// Reveals
// Triggered by waypoints - see common.js itemReveal()
.reveal {
    opacity: 0;
    transition: all $duration $ease;
    transform: translate(0, 15px);

    &.revealed {
        opacity: 1;
        transform: none;
    }

    .no-js & {
        opacity: 1;
        transform: none;
    }
}

// Transforms
.reveal--down {
    transform: translateY(-50px);
}

.reveal--up {
    transform: translateY(50px);
}

.reveal--right {
    transform: translateX(50px);
}

.reveal--left {
    transform: translateX(-50px);
}

// Delays
.reveal--delay-1 {
    transition-delay: 0.3s;
}

.reveal--delay-2 {
    transition-delay: 0.6s;
}

.reveal--delay-3 {
    transition-delay: 0.9s;
}

// Default values. GSAP takes care of the rest. See common.js
.reveal--staggered {
    > * {
        opacity: 0;
        transform: translateY(15px);

        .no-js & {
            opacity: 1;
            transform: none;
        }
    }
}
