@use "sass:math";

// Reset
.container,
.container-fluid {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

// Variables
$remBase: 16px;


// Functions
@function pxtorem($size) {
    $remSize: math.div($size, $remBase);
    @return #{$remSize}rem;
}

@mixin bp-xs {
    @media (min-width: #{$breakpoint-xs}) {
        @content;
    }
}

@mixin bp-sm {
    @media (min-width: #{$breakpoint-sm}) {
        @content;
    }
}

@mixin bp-md {
    @media (min-width: #{$breakpoint-md}) {
        @content;
    }
}

@mixin bp-lg {
    @media (min-width: #{$breakpoint-lg}) {
        @content;
    }
}

@mixin bp-xl {
    @media (min-width: #{$breakpoint-xl}) {
        @content;
    }
}

// Variables
$spacing: 16px;

.container,
.container-fluid {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;

    @include bp-md {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    &.fill {
        padding-left: 0;
        padding-right: 0;

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .col {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.container {
    max-width: 1500px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$spacing;
    margin-right: -$spacing;

    &.justify-center {
        justify-content: center;
    }

    &.justify-right {
        justify-content: flex-end;
    }

    &.justify-space-between {
        justify-content: space-between;
    }
}

.col {
    flex: 0 0 100%;
    padding-left: $spacing;
    padding-right: $spacing;

    &-1 {
        flex: 0 0 math.div(1, 12) * 100%;
        max-width: math.div(1, 12) * 100%;
    }

    &-2 {
        flex: 0 0 math.div(2, 12) * 100%;
        max-width: math.div(2, 12) * 100%;
    }

    &-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    &-4 {
        flex: 0 0 math.div(1, 3) * 100%;
        max-width: math.div(1, 3) * 100%;
    }

    &-5 {
        flex: 0 0 math.div(5, 12) * 100%;
        max-width: math.div(5, 12) * 100%;
    }

    &-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &-7 {
        flex: 0 0 math.div(7, 12) * 100%;
        max-width: math.div(7, 12) * 100%;
    }

    &-8 {
        flex: 0 0 math.div(2, 3) * 100%;
        max-width: math.div(2, 3) * 100%;
    }

    &-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    &-10 {
        flex: 0 0 math.div(10, 12) * 100%;
        max-width: math.div(10, 12) * 100%;
    }

    &-11 {
        flex: 0 0 math.div(11, 12) * 100%;
        max-width: math.div(11, 12) * 100%;
    }

    &-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include bp-xs {
    .row {
        &.xs-reverse {
            flex-direction: row-reverse;
        }
    }

    .col {
        &-xs {
            flex: 1;
        }

        // Widths
        &-xs-1 {
            flex: 0 0 math.div(1, 12) * 100%;
            max-width: math.div(1, 12) * 100%;
        }

        &-xs-2 {
            flex: 0 0 math.div(2, 12) * 100%;
            max-width: math.div(2, 12) * 100%;
        }

        &-xs-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &-xs-4 {
            flex: 0 0 math.div(1, 3) * 100%;
            max-width: math.div(1, 3) * 100%;
        }

        &-xs-5 {
            flex: 0 0 math.div(5, 12) * 100%;
            max-width: math.div(5, 12) * 100%;
        }

        &-xs-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &-xs-7 {
            flex: 0 0 math.div(7, 12) * 100%;
            max-width: math.div(7, 12) * 100%;
        }

        &-xs-8 {
            flex: 0 0 math.div(2, 3) * 100%;
            max-width: math.div(2, 3) * 100%;
        }

        &-xs-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &-xs-10 {
            flex: 0 0 math.div(10, 12) * 100%;
            max-width: math.div(10, 12) * 100%;
        }

        &-xs-11 {
            flex: 0 0 math.div(11, 12) * 100%;
            max-width: math.div(11, 12) * 100%;
        }

        &-xs-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@include bp-sm {
    .row {
        &.sm-reverse {
            flex-direction: row-reverse;
        }
    }

    .col {
        &-sm {
            flex: 1;
        }

        &-sm-1 {
            flex: 0 0 math.div(1, 12) * 100%;
            max-width: math.div(1, 12) * 100%;
        }

        &-sm-2 {
            flex: 0 0 math.div(2, 12) * 100%;
            max-width: math.div(2, 12) * 100%;
        }

        &-sm-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &-sm-4 {
            flex: 0 0 math.div(1, 3) * 100%;
            max-width: math.div(1, 3) * 100%;
        }

        &-sm-5 {
            flex: 0 0 math.div(5, 12) * 100%;
            max-width: math.div(5, 12) * 100%;
        }

        &-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &-sm-7 {
            flex: 0 0 math.div(7, 12) * 100%;
            max-width: math.div(7, 12) * 100%;
        }

        &-sm-8 {
            flex: 0 0 math.div(2, 3) * 100%;
            max-width: math.div(2, 3) * 100%;
        }

        &-sm-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &-sm-10 {
            flex: 0 0 math.div(10, 12) * 100%;
            max-width: math.div(10, 12) * 100%;
        }

        &-sm-11 {
            flex: 0 0 math.div(11, 12) * 100%;
            max-width: math.div(11, 12) * 100%;
        }

        &-sm-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@include bp-md {
    .row {
        &.md-reverse {
            flex-direction: row-reverse;
        }
    }

    .col {

        // Widths
        &-md {
            flex: 1;
        }

        &-md-1 {
            flex: 0 0 math.div(1, 12) * 100%;
            max-width: math.div(1, 12) * 100%;
        }

        &-md-2 {
            flex: 0 0 math.div(2, 12) * 100%;
            max-width: math.div(2, 12) * 100%;
        }

        &-md-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &-md-4 {
            flex: 0 0 math.div(1, 3) * 100%;
            max-width: math.div(1, 3) * 100%;
        }

        &-md-5 {
            flex: 0 0 math.div(5, 12) * 100%;
            max-width: math.div(5, 12) * 100%;
        }

        &-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &-md-7 {
            flex: 0 0 math.div(7, 12) * 100%;
            max-width: math.div(7, 12) * 100%;
        }

        &-md-8 {
            flex: 0 0 math.div(2, 3) * 100%;
            max-width: math.div(2, 3) * 100%;
        }

        &-md-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &-md-10 {
            flex: 0 0 math.div(10, 12) * 100%;
            max-width: math.div(10, 12) * 100%;
        }

        &-md-11 {
            flex: 0 0 math.div(11, 12) * 100%;
            max-width: math.div(11, 12) * 100%;
        }

        &-md-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@include bp-lg {
    .row {
        &.lg-reverse {
            flex-direction: row-reverse;
        }
    }

    .col {

        // Widths
        &-lg {
            flex: 1;
        }

        &-lg-1 {
            flex: 0 0 math.div(1, 12) * 100%;
            max-width: math.div(1, 12) * 100%;
        }

        &-lg-2 {
            flex: 0 0 math.div(2, 12) * 100%;
            max-width: math.div(2, 12) * 100%;
        }

        &-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &-lg-4 {
            flex: 0 0 math.div(1, 3) * 100%;
            max-width: math.div(1, 3) * 100%;
        }

        &-lg-5 {
            flex: 0 0 math.div(5, 12) * 100%;
            max-width: math.div(5, 12) * 100%;
        }

        &-lg-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &-lg-7 {
            flex: 0 0 math.div(7, 12) * 100%;
            max-width: math.div(7, 12) * 100%;
        }

        &-lg-8 {
            flex: 0 0 math.div(2, 3) * 100%;
            max-width: math.div(2, 3) * 100%;
        }

        &-lg-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &-lg-10 {
            flex: 0 0 math.div(10, 12) * 100%;
            max-width: math.div(10, 12) * 100%;
        }

        &-lg-11 {
            flex: 0 0 math.div(11, 12) * 100%;
            max-width: math.div(11, 12) * 100%;
        }

        &-lg-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@include bp-xl {
    .row {
        &.xl-reverse {
            flex-direction: row-reverse;
        }
    }

    .col {

        // Widths
        &-xl {
            flex: 1;
        }

        &-xl-1 {
            flex: 0 0 math.div(1, 12) * 100%;
            max-width: math.div(1, 12) * 100%;
        }

        &-xl-2 {
            flex: 0 0 math.div(2, 12) * 100%;
            max-width: math.div(2, 12) * 100%;
        }

        &-xl-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &-xl-4 {
            flex: 0 0 math.div(1, 3) * 100%;
            max-width: math.div(1, 3) * 100%;
        }

        &-xl-5 {
            flex: 0 0 math.div(5, 12) * 100%;
            max-width: math.div(5, 12) * 100%;
        }

        &-xl-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &-xl-7 {
            flex: 0 0 math.div(7, 12) * 100%;
            max-width: math.div(7, 12) * 100%;
        }

        &-xl-8 {
            flex: 0 0 math.div(2, 3) * 100%;
            max-width: math.div(2, 3) * 100%;
        }

        &-xl-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &-xl-10 {
            flex: 0 0 math.div(10, 12) * 100%;
            max-width: math.div(10, 12) * 100%;
        }

        &-xl-11 {
            flex: 0 0 math.div(11, 12) * 100%;
            max-width: math.div(11, 12) * 100%;
        }

        &-xl-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}