@use 'sass:math';

@function pxtorem($size) {
    $remSize: math.div($size, 16px);
    @return #{$remSize}rem;
}
@mixin font-size($size) {
    font-size: $size; //Fallback in px
    font-size: pxtorem($size);
}

// Maintain an aspect ratio
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: math.div($height, $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// Sets up icon mixin
@mixin icon($content: '') {
    content: $content;
    font-family: $icons;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    speak: none;
    display: inline-block;
    width: 1em;
    line-height: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
}

// Button
@mixin button(
    $color: #fff,
    $text-color: #fff,
    $hover-color: darken($color, 15%)
) {
    cursor: pointer;
    border: none;
    color: $text-color;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 15px 22px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 25px;
    min-width: 180px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    background-color: $color;
    line-height: pxtorem(19px);
    @include font-size(14px);
    // background-image: linear-gradient(57deg, $color 16%, $color 100%);

    &:hover,
    &:focus {
        opacity: 1;
        color: #fff;
        outline: none;
        border: none;
        background-color: $hover-color;
        // background-image: linear-gradient(57deg, $color 16%, lighten($color, 22%) 100%);
    }
}

// Media Queries
@mixin bp-sm {
    @media (min-width: #{$breakpoint-sm}) {
        @content;
    }
}
@mixin bp-md {
    @media (min-width: #{$breakpoint-md}) {
        @content;
    }
}
@mixin bp-lg {
    @media (min-width: #{$breakpoint-lg}) {
        @content;
    }
}
@mixin bp-xl {
    @media (min-width: #{$breakpoint-xl}) {
        @content;
    }
}

@function fluid-value(
    $min-value,
    $max-value,
    $min-bp: $breakpoint-sm,
    $max-bp: $breakpoint-xl
) {
    // Calculate the linear interpolation (y = mx + b)
    // This is the slope (m)
    $slope: math.div($max-value - $min-value, $max-bp - $min-bp);
    $slope-vw: $slope * 100;

    // This is the intercpt (b)
    $intercept-rems: pxtorem($min-value - $slope * $min-bp);

    // Convert to rems
    $min-rems: pxtorem($min-value);
    $max-rems: pxtorem($max-value);

    @return clamp(
        #{$min-rems},
        #{$slope-vw}vw + #{$intercept-rems},
        #{$max-rems}
    );
}
