blockquote {
    position:relative;
    margin: 32px 0 32px 0;
    padding: 16px 0 16px 40px;
    font-family: $font2;
    color: $text2;
    font-weight: 700;
    font-size: fluid-value(19px, 25px);
    line-height: fluid-value(23px, 31px);

    p {
        font-size: fluid-value(19px, 25px);
    line-height: fluid-value(23px, 31px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        font-style: normal;
        font-weight: 400;
        line-height: pxtorem(13px);
        @include font-size(16px);
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 2px;
        top: 0;
        left: 0;
        bottom: 0;
        border: 1px solid #4A78FF;
    }

}

/*
 * Author Blockquote - Page Builder (Visceral add-on)
 */ 
.vc-author-blockquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // Blockquote
    &__quote {
        order: 1;
        margin-bottom: 16px;

        // Page builder field strips quotations
        &:before {
            content: '"';
            display: initial;
            position: static;
            z-index: 1;
            width: auto;
            border: none;
        }

        &:after {
            content: '"';
        }
    }

    // Author image
    &__author-image {
        order: 2;
        flex: 0 0 40px;
        max-width: 40px;
        margin-bottom: 16px;
    }

    // Author info
    &__author {
        order: 3;
        flex: 0 0 100%;

        p {
            @extend small;
            color: $text2;
        }
        
        span {
            display: block;

            &:first-child {
                font-weight: 700;
                margin-bottom: 8px;
            }
        }
    }
}