h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font2;
    color: $text2;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;

    &.buffer {
        padding-top: 32px;
    }

    &.eyebrow {
        @include font-size(14px);
        line-height: pxtorem(17px);
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &.intro {
        @extend .h5;
    }
}

h1,
.h1 {
    font-size: fluid-value(46px, 61px);
    line-height: fluid-value(56px, 74px);
}

h2,
.h2 {
    font-size: fluid-value(38px, 49px);
    line-height: fluid-value(46px, 60px);
}

h3,
.h3 {
    font-size: fluid-value(29px, 39px);
    line-height: fluid-value(35px, 48px);
}

h4,
.h4 {
    font-size: fluid-value(23px, 31px);
    line-height: fluid-value(28px, 38px);
}

h5,
.h5 {
    font-size: fluid-value(19px, 25px);
    line-height: fluid-value(23px, 31px);
}

h6,
.h6 {
    font-size: fluid-value(16px, 20px);
    line-height: fluid-value(20px, 24px);
}
