html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $font1;
    color: $text1;
    line-height: pxtorem(19px);
    @include font-size(16px);
}

/*
:focus-visible polyfill
https://github.com/WICG/focus-visible#polyfill
*/
.js-focus-visible {
    /*
    This will hide the focus indicator if the element receives focus via the mouse,
    but it will still show up on keyboard focus.
    */
    :focus:not(.focus-visible) {
        outline: none;
    }

    /*
    Optionally: Define a strong focus indicator for keyboard focus.
    If you choose to skip this step then the browser's default focus
    indicator will be displayed instead.
    */
    .focus-visible {
    }
}

.pre-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 9999;
    background: #fff;
    transition: opacity 666ms $ease, max-height 666ms $ease 666ms;

    &.fade-out {
        opacity: 0;
        max-height: 0;
    }

    .no-js & {
        display: none;
    }
}
