img,
figure {
    max-width: 100%;
    height: auto;
}

figure {
    margin-top: 32px;
    margin-bottom: 32px;

    figcaption {
        @include font-size(12px);
        line-height: pxtorem(14px);
        margin-top: 8px;
    }
}

// Fixes stretching issues with IE 9-11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src*='.svg'] {
        width: 100%;
    }
}

.img-crop {
    object-fit: cover;
    aspect-ratio: 1;
    vertical-align: -webkit-baseline-middle;
    height: 100%;
    width: 100%;

    &--3-2 {
        aspect-ratio: 3 / 2;
    }

    &--16-9 {
        aspect-ratio: 16 / 9;
    }
}
