a {
    color: $primary-base;
    text-decoration: underline;
    transition: color 0.3s $ease;
    will-change: color;
    
    &:hover,
    &:focus {
        color: $primary-highlight;
        text-decoration: none;
    }
}


// Modal triggers
.modal-link-video {
    // If SVG exists
    svg {
        transition: opacity 444ms $ease;
    }

    &:hover, &:focus {
        svg {
            opacity: 0.75;
        }
    }
}