.main ul:not(.list-inline):not(.list-unstyled) {
    margin-top: 1em;

    ul {
        margin-top: 1em;
    }
}

ul,
ol {
    padding-left: 20px;
    @extend p;
}

ul {
    li {
        &::marker {
            color: $primary-highlight;
            font-size: 20px;
        }
    }
}

li {
    margin-bottom: 16px;
}

.list-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    > li {
        display: inline-block;
        margin-bottom: inherit;
        color: inherit;
    }
}
