p {
    margin: 0;
    margin-bottom: 16px;
    line-height: pxtorem(19px);
    @include font-size(16px);

    &.intro {
        @extend .h5;
    }
}

small,
.small {
    line-height: pxtorem(16px);
    @include font-size(13px);
}

// TODO: add styles to Figma and here
.lead {
    font-size: fluid-value(20px, 25px);
    line-height: fluid-value(22px, 27.5px);
}
