table {
    width: 100%;
    text-align: left;

    tr {
        border: 1px solid $medium-gray;
    }
    
    th {
        color: $primary-base;
        font-weight: bold;
        @include font-size(16px);
        line-height: pxtorem(20px);
        padding: 19px 25px;
    }

    td {
        @include font-size(16px);
        line-height: pxtorem(20px);
        padding: 19px 25px;
    }

    .text-white & {
        border-color: #fff;
    }
}
