@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?wsuapu');
  src:  url('fonts/icons.eot?wsuapu#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?wsuapu') format('truetype'),
    url('fonts/icons.woff?wsuapu') format('woff'),
    url('fonts/icons.svg?wsuapu#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e911";
}
.icon-chevron:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-external-link:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-share:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-website:before {
  content: "\e90e";
}
.icon-youtube:before {
  content: "\e90f";
}
