$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-right: "\e903";
$icon-chevron-left: "\e910";
$icon-chevron-up: "\e911";
$icon-chevron: "\e900";
$icon-download: "\e901";
$icon-email: "\e902";
$icon-external-link: "\e904";
$icon-facebook: "\e905";
$icon-instagram: "\e906";
$icon-linkedin: "\e907";
$icon-phone: "\e908";
$icon-play: "\e909";
$icon-plus: "\e90a";
$icon-search: "\e90b";
$icon-share: "\e90c";
$icon-twitter: "\e90d";
$icon-website: "\e90e";
$icon-youtube: "\e90f";

