// GRAVITY FORMS
.gform_wrapper {
    // General input reset
    input:not([type='radio']):not([type='checkbox']):not([type='submit']):not(
            [type='button']
        ):not([type='image']):not([type='file']) {
        padding: 15px;
    }

    ul.gform_fields {
        .gfield {
            margin: 0 0 24px;
        }
    }

    // Chrome & Firefox resets
    &.gf_browser_chrome,
    &.gf_browser_gecko {
        select {
            padding: 15px 30px 15px 15px;

            option {
                margin-bottom: 8px;
            }
        }
    }

    select {
        border-radius: 1px;

        option {
            margin-bottom: 8px;
        }
    }

    // Sublabels (as on name fields)
    .field_sublabel_below .ginput_complex.ginput_container label,
    .field_sublabel_below div[class*='gfield_time_'].ginput_container label {
        letter-spacing: 0;
        line-height: pxtorem(14px);
        @include font-size(12px);
    }

    // A single form field
    .gfield {
        .gfield_label {
            margin: 0;
            font-weight: 400;
        }
    }

    .gfield_required {
        color: #000;
        margin-left: 0;
    }

    // Checkboxes
    ul.gfield_checkbox {
        li {
            margin: 0 0 6px 0;

            input[type='checkbox']:checked + label {
                font-weight: 400;
            }
        }

        label {
            margin: 2px 0 0 4px;
            line-height: pxtorem(19px);
            @include font-size(16px);
        }
    }

    // Radio buttons
    ul.gfield_radio {
        li {
            margin: 0 0 6px 0;

            input[type='radio']:checked + label {
                font-weight: 400;
            }
        }

        label {
            margin: 2px 0 0 8px;
            line-height: pxtorem(19px);
            @include font-size(16px);
        }
    }

    // List
    .ginput_list table.gfield_list .gfield_list_group {
        border: none;

        td {
            margin-left: 0;
        }

        input {
            margin-left: 0;
        }

        .gfield_list_icons {
            background-color: transparent;
        }
    }

    // Footer/submit
    .gform_footer {
        input[type='submit'] {
            line-height: pxtorem(15px);
            @include font-size(12px);
        }

        // used for input converted to button
        // filters.php -> function email_signup_submit_button
        .gform_wrapper .gform_button {
            background: transparent;
            position: absolute;
            top: 0;
            right: 0;
            margin-bottom: 0 !important;
        }
    }
}
