.no-masthead {
    .wrap.container {
        padding-top: 100px;
    }
}

.error404 {
    &__content {
        background-color: $primary-highlight;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        p {
            margin-bottom: 32px;
        }

        form {
            max-width: 400px;
            margin: auto;
        }
    }
}

// Main content wrapper
.main {
    .search & {
        min-height: 45vh; // pushes footer down, if no results found
    }
}