// Include Single Post page styles and list item styles
// Clone this for unique post types
.resource-post {
    padding-top: 40px;

    @include bp-lg {
        padding-top: 105px;
    }

    &__image {
        width: 100%;
        max-width: 300px;
    }

    &__meta {
        p {
            &:nth-child(odd) {
                margin-bottom: 4px;
            }

            &:nth-child(even) {
                color: $text2;
                margin-bottom: 32px;
            }
        }

        a {
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        @include bp-md {
            border-left: 1px solid $light-gray;
        }
    }
}
