.single-person {
    &__featured-image {
        max-width: 200px;
        margin: 0 auto 16px;
    }

    &__header {
        padding-top: 150px;
        padding-bottom: 0;
    }

    &__connect {
        padding-top: 16px;
        padding-bottom: 16px;

        &-item {
            margin-left: 16px;
            margin-right: 16px;
            @include font-size(12px);
            line-height: pxtorem(14px);
        }

        &-link {
            display: flex;
            align-items: center;
            color: $primary-base;

            svg {
                margin-right: 6px;
            }
        }
    }

    &__content {
        margin-top: 64px;
        margin-bottom: 104px;
    }
}
