.site-footer {
    width: 100%;
    background-color: $primary-base;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    align-items: center;
    @include font-size(20px);
    line-height: pxtorem(24px);

    @include bp-md {
        padding-top: 132px;
        @include font-size(14px);
        line-height: pxtorem(17px);
    }

    &__left {
        @include bp-md {
            text-align: left;
            margin-bottom: 35px;
        }
    }

    &__right {
        text-align: right;
        margin-bottom: 15px;

        @include bp-md {
            margin-bottom: 35px;
        }

        a {
            @include bp-md {
                margin-left: 25px;
            }
        }

        .social-links {
            li {
                margin-left: 8px;
                margin-right: 8px;
                padding: 0;
                margin-left: 16px;
                margin-right: 0;
            }

            &__link {
                font-size: pxtorem(18px);
                line-height: pxtorem(27px);
                text-decoration: none;

                i {
                    line-height: pxtorem(27px);
                }
            }
        }
    }

    &__copyright {
        opacity: 0.5;
        margin-top: 16px;
        @include font-size(14px);
        line-height: pxtorem(17px);

        a {
            font-weight: 700;
            text-decoration: none;
        }

        @include bp-md {
            margin-top: 35px;
        }
    }

    .menu-footer-menu-container {
        margin-top: 33px;
        margin-bottom: 67px;
        font-weight: bold;

        ul {
            display: flex;
            flex-direction: column;

            li {
                margin-bottom: 8px;

                a,
                .menu-item a {
                    text-decoration: none;
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        @include bp-md {
            margin-bottom: 16px;

            ul {
                flex-direction: row;

                .menu-item a {
                    margin-right: 25px;
                }
            }
        }

        @media print {
            display: none;
        }
    }
}