.site-header {
    position: absolute; // Default
    top: 0;
    z-index: 50;
    width: 100%;
    background: transparent;
    transition: all 0.3s ease;

    &--fixed {
        //Fixed position option
        position: fixed;
    }

    &--dark-text {
        //Dark Text option
        background: #fff;

        .site-header__navigation .main-menu__link {
            color: $black;
            text-decoration: none;
        }

        .site-header__brand {
            path {
                fill: $primary-base;
            }
        }

        .site-header__search-icon {
            path {
                fill: $primary-base;
            }
        }
    }

    &.site-header--scroll-triggered {
        background: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

        .site-header__navigation .main-menu__link {
            color: $black;
        }

        .site-header__brand {
            path {
                fill: $primary-base;
            }
        }

        .site-header__search-icon {
            path {
                fill: $primary-base;
            }
        }

        .main-menu__sub-menu {
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        }
    }

    [class^='icon-'] {
        color: inherit;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        min-height: 70px;

        @include bp-md {
            justify-content: flex-end;
        }
    }

    // Logo
    &__brand {
        display: flex;
        align-items: center;
        svg {
            display: block;
            width: 115px;
            height: 14px;
            margin: 0;
            transition: all 0.3s ease;
            path {
                fill: #fff;
                transition: fill 0.3s ease;
            }
        }
    }

    // Navigation
    &__navigation {
        display: none;
        @include bp-md {
            display: inline-block;
            flex-grow: 1;
            > ul {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__search-icon {
        display: none;
        opacity: 0.5;
        margin-left: 16px;

        @include bp-md {
            display: block;
        }

        path {
            transition: all 0.3s ease;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    // Search
    &__search {
        display: none;

        & > div {
            display: flex;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    // Search form
    &__search-form {
        flex-grow: 1;
        input[type='text'] {
            width: 100%;
            margin: 0;
            border: none;
            color: #fff;
            @include font-size(25px);
            background-color: transparent;
            transition: all ease 0.3s;
            &:focus {
                outline: none;
            }
            &::-webkit-input-placeholder {
                color: #fff;
            }
            &:-ms-input-placeholder {
                color: #fff;
            }
            &::placeholder {
                color: #fff;
            }
        }
    }

    // Search close button
    &__search-close {
        display: inline-block;
        cursor: pointer;
    }

    // No JavaScript
    .no-js & {
        position: absolute;
    }
}

// No Masthead or Scroll-triggered
.no-masthead,
.scroll-triggered {
    .site-header {
        padding-top: 0;
        background-color: #fff;
    }

    a,
    .site-header__search-form input[type='text'] {
        color: $text2;
    }
    .main-menu {
        svg {
            path {
                stroke: $text2;
            }
        }
    }

    .site-header__search-form input[type='text'] {
        &::-webkit-input-placeholder {
            color: $text2;
        }
        &:-ms-input-placeholder {
            color: $text2;
        }
        &::placeholder {
            color: $text2;
        }
    }

    .site-header__brand svg path {
        fill: initial;
    }
}
