.masthead {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;

    @include bp-md {
        min-height: 500px;
        padding-top: 180px;
        padding-bottom: 150px;
    }

    :last-child {
        margin-bottom: 0;
    }

    &__overlay {
        position: absolute;
        // negative margins to retain sharp edges
        $blur: 10px;
        top: -$blur;
        bottom: -$blur;
        left: -$blur;
        right: -$blur;
        opacity: 1;
        transition: opacity 1s linear;
        filter: blur($blur);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &.fade-out {
            // JS class added after full size image is loaded
            opacity: 0;
        }
    }

    &__content {
        position: relative;
    }

    &__label {
        color: white;
    }

    &__title {
        color: white;
        margin-bottom: 32px;
    }

    // Search results
    &--search {
        padding-bottom: 0;
        min-height: 0;
        background-color: transparent;

        .masthead__content {
            padding-bottom: 8px;
            border-bottom: 1px solid $medium-gray;
        }

        .masthead__title {
            color: $text2;
        }
    }
}
