.related-content {
    margin-top: 124px;
    padding-top: 64px;
    padding-bottom: 120px;
    background-color: $light-gray;

    &__heading {
        margin-bottom: 32px;
    }

    .row {
        justify-content: center;
    }

    @include bp-lg {
        .list-item {
            margin-bottom: 0;
            padding-bottom: 0;

            &--card {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
