@import './visibility.scss';

// Starting point for decor pseudo elements
.pseudo {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.align-top {
    display: flex;
    align-items: flex-start;
}

.xs-align-top {
    @include bp-xs {
        display: flex;
        align-items: flex-start;
    }
}

.sm-align-top {
    @include bp-sm {
        display: flex;
        align-items: flex-start;
    }
}

.md-align-top {
    @include bp-md {
        display: flex;
        align-items: flex-start;
    }
}

.lg-align-top {
    @include bp-lg {
        display: flex;
        align-items: flex-start;
    }
}

.xl-align-top {
    @include bp-xl {
        display: flex;
        align-items: flex-start;
    }
}

.align-middle {
    display: flex;
    align-items: center;
}

.xs-align-middle {
    @include bp-xs {
        display: flex;
        align-items: center;
    }
}

.sm-align-middle {
    @include bp-sm {
        display: flex;
        align-items: center;
    }
}

.md-align-middle {
    @include bp-md {
        display: flex;
        align-items: center;
    }
}

.lg-align-middle {
    @include bp-lg {
        display: flex;
        align-items: center;
    }
}

.xl-align-middle {
    @include bp-xl {
        display: flex;
        align-items: center;
    }
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.xs-align-bottom {
    @include bp-xs {
        display: flex;
        align-items: flex-end;
    }
}

.sm-align-bottom {
    @include bp-sm {
        display: flex;
        align-items: flex-end;
    }
}

.md-align-bottom {
    @include bp-md {
        display: flex;
        align-items: flex-end;
    }
}

.lg-align-bottom {
    @include bp-lg {
        display: flex;
        align-items: flex-end;
    }
}

.xl-align-bottom {
    @include bp-xl {
        display: flex;
        align-items: flex-end;
    }
}

.text-white {
    color: #fff;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    ul {
        color: #fff;
    }
}

a.text-white,
.text-white a {
    color: #fff;

    &:hover {
        color: #fff;
        opacity: 0.5;
        text-decoration: underline;
    }
}

a.btn:hover {
    text-decoration: none;
}

.text-primary-highlight {
    color: $primary-highlight !important;
}

.text-center {
    display: block;
    text-align: center;
}

.xs-text-center {
    @include bp-xs {
        display: block;
        text-align: center;
    }
}

.sm-text-center {
    @include bp-sm {
        display: block;
        text-align: center;
    }
}

.md-text-center {
    @include bp-md {
        display: block;
        text-align: center;
    }
}

.lg-text-center {
    @include bp-lg {
        display: block;
        text-align: center;
    }
}

.xl-text-center {
    @include bp-xl {
        display: block;
        text-align: center;
    }
}

.text-left {
    display: block;
    text-align: left;
}

.xs-text-left {
    @include bp-xs {
        display: block;
        text-align: left;
    }
}

.sm-text-left {
    @include bp-sm {
        display: block;
        text-align: left;
    }
}

.md-text-left {
    @include bp-md {
        display: block;
        text-align: left;
    }
}

.lg-text-left {
    @include bp-lg {
        display: block;
        text-align: left;
    }
}

.xl-text-left {
    @include bp-xl {
        display: block;
        text-align: left;
    }
}

.text-right {
    display: block;
    text-align: right;
}

.xs-text-right {
    @include bp-xs {
        display: block;
        text-align: right;
    }
}

.sm-text-right {
    @include bp-sm {
        display: block;
        text-align: right;
    }
}

.md-text-right {
    @include bp-md {
        display: block;
        text-align: right;
    }
}

.lg-text-right {
    @include bp-lg {
        display: block;
        text-align: right;
    }
}

.xl-text-right {
    @include bp-xl {
        display: block;
        text-align: right;
    }
}

.visc-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay {
    position: relative;

    &:before {
        content: '';
        z-index: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-base, 0.5);
    }

    > * {
        position: relative;
        z-index: 1;
    }

    &.masthead {
        .masthead__overlay {
            position: absolute;
            z-index: 0;
        }
    }

    &--base-10 {
        &:before {
            background: rgba($primary-base, 0.1);
        }
    }

    &--base-25 {
        &:before {
            background: rgba($primary-base, 0.25);
        }
    }

    &--base-50 {
        &:before {
            background: rgba($primary-base, 0.5);
        }
    }

    &--base-70 {
        &:before {
            background: rgba($primary-base, 0.7);
        }
    }

    &--highlight-10 {
        &:before {
            background: rgba($primary-highlight, 0.1);
        }
    }

    &--highlight-25 {
        &:before {
            background: rgba($primary-highlight, 0.25);
        }
    }

    &--highlight-50 {
        &:before {
            background: rgba($primary-highlight, 0.5);
        }
    }

    &--highlight-75 {
        &:before {
            background: rgba($primary-highlight, 0.75);
        }
    }

    &--dark-gradient-left {
        &:before {
            background: linear-gradient(
                45deg,
                $black 0%,
                rgba(3, 6, 27, 0) 100%
            );
        }
    }

    &--dark-gradient-right {
        &:before {
            background: linear-gradient(
                45deg,
                rgba(3, 6, 27, 0) 0%,
                $black 100%
            );
        }
    }

    &--dark-gradient-top {
        &:before {
            background: linear-gradient(
                180deg,
                $black 0%,
                rgba(3, 6, 27, 0) 100%
            );
        }
    }

    &--dark-gradient-bottom {
        &:before {
            background: linear-gradient(0deg, #fff 0%, rgba(3, 6, 27, 0) 100%);
        }
    }

    &--light-gradient-left {
        &:before {
            background: linear-gradient(
                45deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    &--light-gradient-right {
        &:before {
            background: linear-gradient(
                45deg,
                rgba(255, 255, 255, 0) 0%,
                #fff 100%
            );
        }
    }

    &--light-gradient-top {
        &:before {
            background: linear-gradient(
                180deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    &--light-gradient-bottom {
        &:before {
            background: linear-gradient(
                0deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }
}

.bg--primary-base {
    background-color: $primary-base;
}

.bg--primary-highlight {
    background-color: $primary-highlight;
}

.bg--secondary1 {
    background-color: $secondary1;
}

.bg--secondary2 {
    background-color: $secondary2;
}

.bg--secondary3 {
    background-color: $secondary3;
}

.bg--secondary4 {
    background-color: $secondary4;
}

.bg--position-bottom {
    background-position: bottom !important;
}

.bg--position-top {
    background-position: top !important;
}

.bg--position-right {
    background-position: right !important;
}

.bg--position-left {
    background-position: left !important;
}

.bg--size-contain {
    background-size: contain !important;
}

// Skip to content link
// for accessibility
#skip-to-content {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 23px 14px;
    color: #fff;
    background: $primary-highlight;
    z-index: 100000;
    opacity: 0;
    transform: translateY(-100%);

    &:focus,
    &:active {
        opacity: 1;
        transform: translateY(0);
    }
}

// Background images stretching to the viewport width. Add to a containing section element
.image-edge {
    position: relative;

    &--bg {
        // the row that holds a column with a background image
        margin: 0;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;

        @include bp-sm {
            position: absolute;
            min-height: 0; // inherit height from content element
        }
    }
}

// Size Utilities
$sizes: 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 136, 152,
    168, 184, 200, -8, -16, -24, -32, -40, -48, -56, -64, -72, -80, -88, -96,
    -104, -112, -120, -136, -152, -168, -184, -200;

@each $size in $sizes {
    .p-t-#{$size} {
        padding-top: #{$size}px !important; // !important to override page builder styling
    }

    .p-b-#{$size} {
        padding-bottom: #{$size}px;
    }

    .p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .m-t-#{$size} {
        margin-top: #{$size}px;
    }

    .m-b-#{$size} {
        margin-bottom: #{$size}px;
    }

    .sm-p-t-#{$size} {
        @include bp-sm {
            padding-top: #{$size}px !important; // !important to override page builder styling
        }
    }

    .sm-p-b-#{$size} {
        @include bp-sm {
            padding-bottom: #{$size}px;
        }
    }

    .sm-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .sm-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .sm-m-t-#{$size} {
        @include bp-sm {
            margin-top: #{$size}px;
        }
    }

    .sm-m-b-#{$size} {
        @include bp-sm {
            margin-bottom: #{$size}px;
        }
    }
    // Medium
    .md-p-t-#{$size} {
        @include bp-md {
            padding-top: #{$size}px !important; // !important to override page builder styling
        }
    }

    .md-p-b-#{$size} {
        @include bp-md {
            padding-bottom: #{$size}px;
        }
    }

    .md-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .md-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .md-m-t-#{$size} {
        @include bp-md {
            margin-top: #{$size}px;
        }
    }

    .md-m-b-#{$size} {
        @include bp-md {
            margin-bottom: #{$size}px;
        }
    }

    // Large
    .lg-p-t-#{$size} {
        @include bp-lg {
            padding-top: #{$size}px !important; // !important to override page builder styling
        }
    }

    .lg-p-b-#{$size} {
        @include bp-lg {
            padding-bottom: #{$size}px;
        }
    }

    .lg-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .lg-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .lg-m-t-#{$size} {
        @include bp-lg {
            margin-top: #{$size}px;
        }
    }

    .lg-m-b-#{$size} {
        @include bp-lg {
            margin-bottom: #{$size}px;
        }
    }

    // X Large
    .xl-p-t-#{$size} {
        @include bp-xl {
            padding-top: #{$size}px !important; // !important to override page builder styling
        }
    }

    .xl-p-b-#{$size} {
        @include bp-xl {
            padding-bottom: #{$size}px;
        }
    }

    .xl-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .xl-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .xl-m-t-#{$size} {
        @include bp-xl {
            margin-top: #{$size}px;
        }
    }

    .xl-m-b-#{$size} {
        @include bp-xl {
            margin-bottom: #{$size}px;
        }
    }
}
