@media print {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid; // Prevent headings from being printed at the bottom of the page
    }
    img {
        page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
    }
    .no-print {
        display: none;
    }

    .print-show {
        display: block;
    }

    .text-white,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        color: #000 !important;
    }
    a {
        color: $primary-highlight !important;
    }
    *[data-vc-full-width='true'] {
        // resets inline styling put in place by page builder
        left: 0 !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .full-width {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0;
        padding-right: 0;
    }
    .reveal {
        opacity: 1;
        transform: none;
    }

    .site-header {
        position: relative !important;
    }
    .site-header__brand {
        color: #000;
        svg path {
            fill: #000 !important;
        }
    }
    .masthead {
        position: relative;
        display: block !important;
        min-height: 0;
        padding: 0;
        padding-top: 120px;
    }

    // Slick Slider
    // Show Only Active Slide
    .slick-slide {
        display: none !important;
        &.slick-active {
            display: block !important;
        }
    }

    // Reset adaptiveHeight
    .slick-list {
        height: auto !important;
    }

    // Remove Scrollbars
    .slick-track {
        width: auto !important;
        height: auto !important;
        transform: none !important;
        .slick-slide {
            width: auto !important;
        }
    }

    // Helpers
    .bg--primary-base {
        background-color: $primary-base;
    }

    .bg--primary-highlight,
    .bg--secondary1,
    .bg--secondary2,
    .bg--secondary3,
    .bg--secondary4 {
        background-color: #fff;
    }

    // Grid
    .col-sm-6,
    .col-md-6,
    .col-lg-6 {
        max-width: 50%;
    }

    .col-lg-4,
    .col-md-4,
    .col-sm-4 {
        max-width: 33.3333%;
    }

    .col-md-3 {
        max-width: 25%;
    }

    .col-md-5 {
        max-width: 41.6667%;
    }

    .col-md-8 {
        max-width: 75%;
    }

    .col-md {
        flex: 1;
    }

    .elementor-accordion .elementor-tab-content,
    .elementor-widget-toggle .elementor-tab-content {
        display: block !important;
    }

    .elementor-tabs .elementor-tab-mobile-title,
    .elementor-widget-tabs .elementor-tab-content {
        display: block !important;
    }

    .elementor-tab-desktop-title {
        display: none !important;
    }

    .visc-anchor-nav,
    .visc-sub-nav {
        display: none !important;
    }

    .elementor-column.elementor-col-33,
    .elementor-column[data-col='33'] {
        max-width: 33.3333%;
    }
}
