.sg-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    color: black;
}

.sg-sub-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

.sg-element {
    margin-bottom: 50px;
}

.sg-dark-bg {
    background: lightgray;
    padding: 40px;
}

.sg-color-block {
    width: 300px;
    height: 300px;
    margin-bottom: 8px;
}
