/** Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.no-js {
    .js-hide {
        display: inline-block !important;
    }

    .no-js-show {
        display: inline-block !important;
    }

    .no-js-hide {
        display: none !important;
    }
}

.js-hide {
    display: none !important;
}

// Responsive visibility
.hide {
    display: none !important;
}

.xs-hide {
    @media (min-width: $breakpoint-xs) {
        display: none !important;
    }
}

.xs-block {
    @media (min-width: $breakpoint-xs) {
        display: block !important;
    }
}

.xs-flex {
    @media (min-width: $breakpoint-xs) {
        display: flex !important;
    }
}

.xs-inline {
    @media (min-width: $breakpoint-xs) {
        display: inline !important;
    }
}

.sm-hide {
    @media (min-width: $breakpoint-sm) {
        display: none !important;
    }
}

.sm-block {
    @media (min-width: $breakpoint-sm) {
        display: block !important;
    }
}

.sm-flex {
    @media (min-width: $breakpoint-sm) {
        display: flex !important;
    }
}

.sm-inline {
    @media (min-width: $breakpoint-sm) {
        display: inline !important;
    }
}

.md-hide {
    @media (min-width: $breakpoint-md) {
        display: none !important;
    }
}

.md-block {
    @media (min-width: $breakpoint-md) {
        display: block !important;
    }
}

.md-flex {
    @media (min-width: $breakpoint-md) {
        display: flex !important;
    }
}

.md-inline {
    @media (min-width: $breakpoint-xs) {
        display: inline !important;
    }
}

.lg-hide {
    @media (min-width: $breakpoint-lg) {
        display: none !important;
    }
}

.lg-block {
    @media (min-width: $breakpoint-lg) {
        display: block !important;
    }
}

.lg-flex {
    @media (min-width: $breakpoint-lg) {
        display: flex !important;
    }
}

.lg-inline {
    @media (min-width: $breakpoint-lg) {
        display: inline !important;
    }
}

.xl-hide {
    @media (min-width: $breakpoint-xl) {
        display: none !important;
    }
}

.xl-block {
    @media (min-width: $breakpoint-xl) {
        display: block !important;
    }
}

.xl-flex {
    @media (min-width: $breakpoint-xl) {
        display: flex !important;
    }
}

.xl-inline {
    @media (min-width: $breakpoint-xl) {
        display: inline !important;
    }
}
