/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    height: auto;
}

.aligncenter {
    display: block;
    margin: 20px auto;
    height: auto;
}

.alignleft,
.alignright {
    margin-bottom: 32px;
    height: auto;
}

@include bp-sm {
    .alignleft {
        float: left;
        margin-right: 32px;
    }

    .alignright {
        float: right;
        margin-left: 32px;
    }
}

/** Captions */
.wp-caption {
    // @extend .figure;
}

.wp-caption img {
    // @extend .figure-img;
    // @extend .img-fluid;
}

.wp-caption-text {
    // @extend .figure-caption;
}